<% @page_title = "Edit Profile" %>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4 user-details">
            
           <div class="profile-page" style="height: 1550px;">
           
            <div class="user-image">
                <%= image_tag current_member.avatar.url(:medium), :class => 'img-circle', :alt => current_member.name, :style => "
    width: 120px;
    height: 110px;margin-left: 0;" %>
                
                </div>
                <div class="user-info-block">
                <div class="user-heading">
                    <h3><%= current_member.name %> <%= current_member.surname %> </h3>
                    <span class="help-block"><%= @profile.short_description %></span>
                </div>
                <!-- <ul class="navigation">
                    <li class="active">
                        <a data-toggle="tab" href="#information">
                            <span class="glyphicon glyphicon-user"></span>  Personal Details
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#social-info">
                            <span class="glyphicon glyphicon-cog"></span>  Social Information
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#location">
                            <span class="glyphicon glyphicon-envelope"></span>  Current Location
                        </a>
                    </li>
                   
                     
                </ul> -->
                <div class="user-body">
                
                

               <%= simple_form_for(@profile, :url => {:action => 'update', :member_id => current_member.id}, :html=>{:multipart=>true}) do |f| %>

                <%= f.error_notification %>


                      <p> Overview</p>
                    <div class="profile-box ">
                    <%= f.input :short_description, :label => "Describe yourself in one line..."  %>
                    <%= f.input :about, as: :text, :label => "Tell us something about yourself..." %>
                    <%= f.input  :gender, :collection => ['Male' ,'Female'] %>

                    </div>

                    <p> You date of birth</p>
                      <div class="profile-box ">
                      
                      <%= f.input :DOB, as: :date,
                               order: [:day, :month, :year], :label => false  %>
                     
                     </div>
                    <p> Where are you currently located?</p>
                    <div class="profile-box">
                    <%= f.input :country %>
                    <%= f.input :state %>
                    <%= f.input :city %>

                      </div>

                      <p> Social Information</p>
                      
                      <div class="profile-box">`
                      <%= f.input :facebook_link, :label => "Your facebook ID" %>
                      <%= f.input :twitter_link, :label => "Your twitter ID"%>
                      <%= f.input :linkedin_link, :label => "Your linkedin ID"%>

                      </div>
  


                <div class="form-actions">
                    <%= f.button :submit, 'Update', :class=> "btn btn-primary" %>
                  </div>
                
                <% end %>
                    <!-- <div class="tab-content">
                        <div id="information" class="tab-pane active">
                            




                        </div>
                        <div id="social-info" class="tab-pane">
                            <h4>Settings</h4>
                        </div>
                        <div id="location" class="tab-pane">
                            <h4>Send Message</h4>
                        </div>
                        
                    </div> -->
                </div>
            </div>
        </div>
  </div>
</div>
</div>