<footer>
<div class="subscribe-row">

    <div style="padding-bottom: 7px;">Subscribe to our Newsletter</div>

      <div>

        <%= form_for(:subscriber, :url => {:controller =>'landing_page',:action => 'create'}) do |f| %>
            <%= f.text_field :name, :placeholder=> 'Your Name...', :required => true , :label => false, :class=> "subscribe-input"%>
            <%= f.email_field :email, :placeholder=> 'Your Email...', :required => true , :label => false, :class=> "subscribe-input"%>
            <%= f.submit 'Subscribe', :class=> "subscribe-submit" %>

        <% end %>
      </div>

</div>




            
<div class="banner">
    <div class="container">
            
         <div class="row">
                
               <div class="span12">
                    
                     <div class="social-links">
                        <div style="padding-bottom: 10px;    color: whitesmoke;
    font-size: -webkit-xxx-large;"><strong>FOLLOW US</strong><br/>
                        </div>
                            <a class="facebook" href="https://www.facebook.com/ybeatz4artists/"></a>
                            <a class="twitter" href="#"></a>
                            <!-- <a class="dribbble" href="#"></a> -->
                            <!-- <a class="pinterest" href="#"></a> -->
                            <a class="googleplus" href="#"></a>
                            <a class="skype" href="#"></a>
                            <a class="youtube" href="#"></a>
                            <!-- <a class="vimeo" href="#"></a>
                            <a class="forrst" href="#"></a> -->
                            <a class="email" href="mailto:support@ybeatz.com"></a>
                     </div>
               </div>
         </div> <!-- end row -->

                </div> <!-- end container -->
                </div>
             
       

        <div class="copyright-menu">
                    
                 Copyright &copy; 2015 - YBeatz                   
                    <div class="bottom-menu" style="float: right;">
                    <%= link_to("Contact", contacts_path, :class => 'bottom-menu')%>
                    </div>
                     

                    
                </div> <!-- end row -->
 </footer>