<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
<%= f.input :event_name, :required => true, placeholder: 'Event Name'  %>
<%= f.input :date, as: :date,
           order: [:day, :month], :required => true  %>
<%= f.input :day_date, :collection => ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %>
<%= f.input :description, :as => :text, :required => true, placeholder: 'Event Name'  %>
<%= f.input :place, :required => true, placeholder: 'Event Location' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Create Event', :class=> "btn btn-primary" %>
  </div>
<% end %>
