	


	<%= simple_form_for(@event , :class=> "form-horizontal", :html=>{:multipart=>true}) do |f| %>
  <%= f.error_notification %>

<p> When is the Event?</p>
  <div class="event-box ">
  
  <%= f.input :date, as: :date,
           order: [:day, :month], :required => true  %>
 
 </div>
  <p> Describe your event.</p>
<div class="event-box ">
<%= f.input :event_name, :required => true, placeholder: 'Name of your Event'  %>
<%= f.input :tagline, placeholder: 'Describe your event in one line'  %>
<%= f.input :description, :as => :text, :required => true, placeholder: 'Provide a brief description of the event'  %>
</div>
<p> Where is the Venue?</p>
<div class="event-box">
<%= f.input :country, :required => true, placeholder: 'Event Location' %>
<%= f.input :state, :required => true, placeholder: 'Event Location' %>
<%= f.input :city, :required => true, placeholder: 'Event Location' %>
<%= f.input :venue, :required => true, placeholder: 'Name of the Venue' %>
  </div>

  <p> Who's Playing?</p>
  <p> What Else?</p>
  <div class="event-box">
  <%= f.input :banner, as: :file, :required => true, :label => 'Banner Image' %>
  <%= f.input :doors_open,  as: :time,  :required => true %>
  <%= f.input :ticket_price%>
  

  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Create Event', :class=> "btn btn-primary" %>
  </div>
<% end %>
</form>
