<% @page_title = "Community" %>

<div class="heading">
<i  class="fa fa-clone fa-4x">  <h1>Recent Posts</h1></i>
</div>

<div class="row">
<div class="posts-col">

<% @communities.each do |community| %>
                
                
                  <div class="posts ">
                  <div class="posts-image">
                    
                    <% if community.post_image?%>
                                       
                    <%= image_tag community.post_image.url %>
                    <%else%>
                    <%= image_tag 'banner.jpg', class: "event-banner" %>
                    <% end%>
                  </div>
                  <div class="posts-details">
                  <h3><%=link_to community.title, community_path(:id => community.slug) %></h3>
                    <div class="meta">
                    <time datetime="2012-11-09" class="date-1"><i class="fa fa-calendar"></i> <%= community.created_at.day %>.<%= community.created_at.month %>.<%= community.created_at.year %></time>
                    <div class="name-author"><i class="fa fa-user"></i> <%=link_to community.name,member_path(:id => community.member.slug) %></div>
                    <div class="comments"><i class="fa fa-comment"></i> <%= community.comments.count %> comment</div>
                    <div class="clear"></div> 
                    <div class="post-content">
                      <p><%=h truncate(strip_tags(community.content), :length => 65) %></p></div>
                      <div class="btn-1">
                      <%=link_to 'Keep Reading...',  community_path(:id => community.slug) %>
                      </div>
                    </div> 
                    </div>
                  </div>

              
                  <!-- </div> -->
                  <% end %>

                  </div>

                  </div>
                  <div class="row">
                  <div class="col-md-4 col-md-offset-4" style="padding-left: 85px;">

                  <div class="pagination" >
                  <%= will_paginate @communities, renderer: BootstrapPagination::Rails %>
                  </div>
                  </div>
                  </div>

                  

