<h3>Contact Us</h3>

      

<div class = "contact">
  <%= simple_form_for :contact, :url=> {:controller =>'contacts',:action => 'new'}, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :placeholder=> 'Name', :required => true , :label => false%><br/>
    <%= f.input :email, :placeholder=> 'Email', :required => true , :label => false%><br>
    <%= f.input :message, :placeholder => 'Enter Message',:as => :text , :required => false, :label => false%>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    
      </br>
      <div>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div> 
    </div> 
  <% end %>       