<!DOCTYPE html>
<html class="hide-sidebar ls-bottom-footer login" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  

 <%= stylesheet_link_tag    "bootstrap.css" %>
 <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: 'all' %>
 
 


 <%= javascript_include_tag 'jquery-1.11.3.min.js' %>
 <%= javascript_include_tag 'bootstrap.min.js' %>
 
 
</head>
<body>



<%= yield %>


</body>
</html>