

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>YBeatz<%= " | #{@page_title}" if @page_title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <%= favicon_link_tag 'https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/favicon.ico' %>
        <!-- CSS -->
        <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=PT+Sans:400,700', media: 'all' %>
        
        <%= stylesheet_link_tag    "https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/stylesheets/bootstrap.css" %>
        <%= stylesheet_link_tag    "https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/stylesheets/social-buttons.css" %>
        <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: 'all' %>
        <%= stylesheet_link_tag    "https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/stylesheets/social-icons.css" %>
        <%= stylesheet_link_tag    "https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/stylesheets/coming-soon-style.css" %>
        
        <%= stylesheet_link_tag    "https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/stylesheets/contact_us.css" %>
        <%= stylesheet_link_tag    "https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/stylesheets/editors.css" %>
        <%= stylesheet_link_tag    "forums.css" %>
        <%= stylesheet_link_tag    "topics.css" %>
        
         
        
        <!-- Javascript -->
        
        <%= javascript_include_tag 'https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/javascripts/jquery-1.11.3.min.js' %>
        <%= javascript_include_tag 'https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/javascripts/jquery.backstretch.min.js' %>
        <%= javascript_include_tag 'https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/javascripts/bootstrap.min.js' %>
        <%= javascript_include_tag 'https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/javascripts/modernizr-2.6.2.min.js' %>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


        <!-- Open Graph Meta Tags -->


        <% if content_for?(:meta_og) %>
            <%= yield :meta_og %>
        <% else %>
            <meta property="og:title" content="Ybeatz" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="http://ybeatz.com" />
            <%= tag :meta, property: 'og:image', content: image_url('https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/logo2.png') %>
        <% end %>


        <!-- Open Graph Meta tags end -->

        <!-- Favicon and touch icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/favicon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

    </head>

    <body>

    <!-- GA Code starts here-->
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76630662-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- GA code Ends Here -->

    
    <!-- facebook SDK starts here-->
    
  
        <!-- Header -->
      
<%= render 'shared/navbar_top_fixed'%>


<!-- Notification -->

<%= render 'shared/notification' %>


        	<!--sign up form end-->

            <%= yield %> 

     
<%= render 'shared/footer' %>

       

    </body>

</html>

