

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>YBeatz - Coming Soon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <%= favicon_link_tag 'favicon.ico' %>
        <!-- CSS -->
        <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=PT+Sans:400,700', media: 'all' %>
        
        <%= stylesheet_link_tag    "bootstrap.css" %>
        
        <%= stylesheet_link_tag    "font-awesome.css" %>
        <%= stylesheet_link_tag    "social-icons.css" %>
        <%= stylesheet_link_tag    "coming-soon-style.css" %>
        <%= stylesheet_link_tag    "style.css" %>
        <%= stylesheet_link_tag    "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>
        <%= stylesheet_link_tag    "coming-soon-style.css" %>
        <%= stylesheet_link_tag    "main.css" %>
        <%= stylesheet_link_tag    "camera.css", media: 'all' %>

        <!-- Javascript -->
        
        <%= javascript_include_tag 'jquery-1.11.3.min.js' %>
        <%= javascript_include_tag 'bootstrap.min.js' %>
        <%= javascript_include_tag 'events.js' %>
        <%= javascript_include_tag 'jquery.mobile.customized.min.js' %>
        <%= javascript_include_tag 'jquery.easing.1.3.js' %>
        <%= javascript_include_tag 'camera.js' %>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/favicon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

    </head>

    <body>
    <span class="error_msgs">
    <% if !flash[:error].blank? %>
        <div class="error" id="error">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/alerts/error.png" width = "20" height="20">&nbsp<%= flash[:error] %>
        </div>
         <% end %>
        </span>
     
      <span class="error_msgs">
      <% if !flash[:notice].blank? %>
        <div class="notice" id="notice">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/alerts/success.png" width = "24" height="24">&nbsp<%= flash[:notice] %>
        </div>
      <% end %>
      </span>
      <script>
    setTimeout("$('.error_msgs').fadeOut('slow')", 5000)
  </script>
  <style>
    
    a {
      color: #09f;
    }
    a:hover {
      text-decoration: none;
    }
    
    .fluid_container {
      margin: 0 auto;
      max-width: 1000px;
      width: 90%;
    }
  </style>
     <script>
    jQuery(function(){
      jQuery('#camera_wrap_1').camera({
        thumbnails: false
      });
        jQuery('#camera_wrap_2').camera({
        height: '400px',
        loader: 'bar',
        pagination: false,
        thumbnails: true
      });
    });
  </script>  
   <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo span4">
          <a class="navbar-brand" href="/">yBeatz</a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><%=link_to("HOME", :controller=> "landing_page")%></a></li>
            <li class="active"><%=link_to("EVENTS", :controller=> "events")%></li>
           </ul>
           <div >
           <ul class="nav navbar-nav navbar-right"> 
            <li><div>
  <% if current_user %>
    
  <ul class="nav navbar-nav navbar-user">
            <!-- User -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <%= current_user.name %><span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="profile.html">Profile</a></li>
                <li><a href="messages.html">Messages</a></li>
                <li><a href="login.html"><%= link_to "Sign out", signout_path, id: "sign_out" %></a></li>
              </ul>
            </li>
          </ul>
  <% else %>
  <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" , class: "btn btn-facebook"%>
    
  <% end %>
  </div>
</li>           
            
          </ul></div>
        </div><!--/.nav-collapse -->
      </div>
    </div>



            <%= yield %> 

     <footer>
            <div class="container">
                <div class="row">
                    <div class="span4 from-twitter col-md-4" >
                        <h3>From Twitter</h3>
                        <div class="show-tweet"></div>
                    </div>
                    <div class="span4 flickr-photos col-md-4" >
                        <h3>Facebook Feed</h3>
                        <ul class="flickr-feed"></ul>
                    </div>
                    <div class="span4 contact-us col-md-4" >
                        
                         


  <h3>Contact Us</h3>

      

<div class = "contact">
  <%= simple_form_for :contact, :url=> {:controller =>'contacts',:action => 'new'}, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :placeholder=> 'Name', :required => true , :label => false%><br/>
    <%= f.input :email, :placeholder=> 'Email', :required => true , :label => false%><br>
    <%= f.input :message, :placeholder => 'Enter Message',:as => :text , :required => false, :label => false%>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    
      </br>
      <div>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div> 
    </div> 
  <% end %>       
                    </div>
                </div> <!-- end row -->
                <div class="row">
                    <div class="span12">
                        <div class="social-links">
                            <a class="facebook" href="https://www.facebook.com/ybeatz4artists/"></a>
                            <a class="twitter" href="#"></a>
                            <a class="dribbble" href="#"></a>
                            <a class="pinterest" href="#"></a>
                            <a class="googleplus" href="#"></a>
                            <a class="skype" href="#"></a>
                            <a class="youtube" href="#"></a>
                            <a class="vimeo" href="#"></a>
                            <a class="forrst" href="#"></a>
                            <a class="email" href="mailto:ybeatz@outlook.in"></a>
                        </div>
                    </div>
                </div> <!-- end row -->
                <div class="row">
                    <div class="span12 copyright">
                        <p>Copyright &copy; 2015 - YBeatz </p>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </footer>


       

    </body>

</html>

