

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>YBeatz - Coming Soon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <%= favicon_link_tag 'favicon.ico' %>
        <!-- CSS -->
        <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=PT+Sans:400,700', media: 'all' %>
        
        <%= stylesheet_link_tag    "bootstrap.min.css" %>
        
        <%= stylesheet_link_tag    "font-awesome.css" %>
        <%= stylesheet_link_tag    "social-icons.css" %>
        <%= stylesheet_link_tag    "coming-soon-style.css" %>
        <%= stylesheet_link_tag    "style.css" %>
        <%= stylesheet_link_tag    "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>
        <%= stylesheet_link_tag    "coming-soon-style.css" %>
        <%= stylesheet_link_tag    "main.css" %>
        <%= stylesheet_link_tag    "camera.css", media: 'all' %>

        <!-- Javascript -->
        
        <%= javascript_include_tag 'jquery-1.11.3.min.js' %>
        <%= javascript_include_tag 'bootstrap.min.js' %>
        <%= javascript_include_tag 'events.js' %>
        <%= javascript_include_tag 'jquery.mobile.customized.min.js' %>
        <%= javascript_include_tag 'jquery.easing.1.3.js' %>
        <%= javascript_include_tag 'camera.js' %>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/favicon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

    </head>

    <body>
    <!-- facebook SDK starts here-->
    
<!-- facebook SDK ends here-->
   
  <style>
    
    a {
      color: #09f;
    }
    a:hover {
      text-decoration: none;
    }
    
    .fluid_container {
      margin: 0 auto;
      max-width: 1000px;
      width: 90%;
    }
  </style>
     <script>
    jQuery(function(){
      jQuery('#camera_wrap_1').camera({
        thumbnails: false
      });
        jQuery('#camera_wrap_2').camera({
        height: '400px',
        loader: 'bar',
        pagination: false,
        thumbnails: true
      });
    });
  </script>  
   <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo span4">
          <a class="navbar-brand" href="/">yBeatz</a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><%=link_to("HOME", :controller=> "landing_page")%></li>
            <li class="active"><%=link_to("EVENTS", :controller=> "events")%></li>
            <li><%=link_to("COMMUNITY", :controller=> "communities")%></li>
           </ul>
           <div >
           <ul class="nav navbar-nav navbar-right"> 
            <li><div>



 




  <% if member_signed_in? %>
    
  <ul class="nav navbar-nav navbar-user">
            <!-- User -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <%=current_member.name%> <%=current_member.surname%><span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="profile.html">Profile</a></li>
                <li><a href="messages.html">Messages</a></li>
                <li><%= link_to('Sign Out', destroy_member_session_path, :method => :delete)%></li>
              </ul>
            </li>
          </ul>
  <% else %>
     <li><%=link_to "Log In", new_member_session_path %></li>
            <li><%=link_to 'Sign Up', new_member_registration_path %></li>
            <%end%>
    
  
  </div>
          
            
          </ul></div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<%= render 'shared/notification' %>


            <%= yield %> 

     <%= render 'shared/footer' %>


       

    </body>

</html>

