

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>YBeatz - Coming Soon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <%= favicon_link_tag 'favicon.ico' %>
        <!-- CSS -->
        <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=PT+Sans:400,700', media: 'all' %>
        
        <%= stylesheet_link_tag    "bootstrap.css" %>
        <%= stylesheet_link_tag    "font-awesome.css" %>
        <%= stylesheet_link_tag    "social-icons.css" %>
        <%= stylesheet_link_tag    "style.css" %>
        <%= stylesheet_link_tag    "font-awesome.min.css" %>
        <%= stylesheet_link_tag    "coming-soon-style.css" %>
        <!-- Javascript -->
        
        <%= javascript_include_tag 'jquery-1.11.3.min.js' %>
        <%= javascript_include_tag 'bootstrap.min.js' %>
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/favicon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

    </head>

    <body>
    <span class="error_msgs">
    <% if !flash[:error].blank? %>
        <div class="error" id="error">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/alerts/error.png" width = "20" height="20">&nbsp<%= flash[:error] %>
        </div>
         <% end %>
        </span>
     
      <span class="error_msgs">
      <% if !flash[:notice].blank? %>
        <div class="notice" id="notice">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ybeatz/assets/images/alerts/success.png" width = "24" height="24">&nbsp<%= flash[:notice] %>
        </div>
      <% end %>
      </span>
      <script>
    setTimeout("$('.error_msgs').fadeOut('slow')", 5000)
  </script>
  
        <!-- Header -->
       <!--  <div class="container">
            <div class="header row">
            
                <div class="logo span4">
                    <h2><a href="/">yBeatz</a></h2>
                </div>
                <div class="tel-skype span8">
                    <p><i class="icon-phone-sign"></i> Phone: 0039 123 45 679 <span class="pipe">|</span> <i class="icon-user"></i> Skype: hello@domain.com</p>
                </div>
            </div>
        </div> -->
   <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo span4">
          <a class="navbar-brand" href="/">yBeatz</a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><%=link_to("HOME", :controller=> "landing_page")%></a></li>
            <li class="active"><%=link_to("EVENTS", :controller=> "events")%></li>
           </ul>
           <ul class="nav navbar-nav navbar-right"> 
            <li><a href="services.html">Log In</a></li>
            <li><button type="button" id='modal-launcher' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">Join Us</button></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<!--sign up form start-->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header login_modal_header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel">Join Us</h2>
            </div>
            <div class="modal-body login-modal">
                
                <br/>
                <div class="clearfix"></div>
                <div id='social-icons-conatainer'>
                    <div class='modal-body-left'>
                        <div class="form-group">
                            <input type="text" id="username" placeholder="Enter your name" value="" class="form-control login-field">
                            <span class="glyphicon glyphicon-user login-field-icon"></span>
                        </div>
        
                        <div class="form-group">
                            <input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field">
                            <i class="glyphicon glyphicon-lock login-field-icon"></i>
                        </div>
        
                        <a href="#" class="btn btn-primary modal-login-btn">Join</a>
                        <a href="#" class="login-link text-center">Forgot Password</a>
                    </div>
                
                    <div class='modal-body-right'>
                        <div class="modal-social-icons">
                            <a href='#' class="btn btn-default facebook-form"> <i class="fa fa-facebook modal-icons"></i> Join with Facebook </a>
                            <a href='#' class="btn btn-default twitter-form"> <i class="fa fa-twitter modal-icons"></i> Join with Twitter </a>
                            <a href='#' class="btn btn-default google-form"> <i class="fa fa-google-plus modal-icons"></i> Join with Google </a>
                            <a href='#' class="btn btn-default linkedin-form"> <i class="fa fa-linkedin modal-icons"></i> Join with Linkedin </a>
                        </div> 
                    </div>  
                    <div id='center-line'> OR </div>
                </div>                                                                                                              
                <div class="clearfix"></div>
                
                <div class="form-group modal-register-btn">
                    <button class="btn btn-default"> Already have an account? Log In here</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer login_modal_footer">
            </div>
        </div>
    </div>
</div>
        	<!--sign up form end-->

            <%= yield %> 

     <footer>
            <div class="container">
                <div class="row">
                    <div class="span4 from-twitter col-md-4" >
                        <h3>From Twitter</h3>
                        <div class="show-tweet"></div>
                    </div>
                    <div class="span4 flickr-photos col-md-4" >
                        <h3>Facebook Feed</h3>
                        <ul class="flickr-feed"></ul>
                    </div>
                    <div class="span4 contact-us col-md-4" >
                        <!-- <h3>Contact Us</h3>
                        <form action="assets/contact.php" method="post">
                            <input type="text" name="name" class="name" placeholder="Name">
                            <input type="text" name="email" class="email" placeholder="Email">
                            <textarea name="message" placeholder="Message"></textarea>
                            <button type="submit">Submit</button>
                        </form> -->
                         


  <h3>Contact Us</h3>

      

<div class = "contact">
  <%= simple_form_for :contact, :url=> {:controller =>'contacts',:action => 'new'}, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :placeholder=> 'Name', :required => true , :label => false%><br/>
    <%= f.input :email, :placeholder=> 'Email', :required => true , :label => false%><br>
    <%= f.input :message, :placeholder => 'Enter Message',:as => :text , :required => false, :label => false%>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    
      </br>
      <div>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div> 
    </div> 
  <% end %>       
                    </div>
                </div> <!-- end row -->
                <div class="row">
                    <div class="span12">
                        <div class="social-links">
                            <a class="facebook" href="#"></a>
                            <a class="twitter" href="#"></a>
                            <a class="dribbble" href="#"></a>
                            <a class="pinterest" href="#"></a>
                            <a class="googleplus" href="#"></a>
                            <a class="skype" href="#"></a>
                            <a class="youtube" href="#"></a>
                            <a class="vimeo" href="#"></a>
                            <a class="forrst" href="#"></a>
                            <a class="email" href="#"></a>
                        </div>
                    </div>
                </div> <!-- end row -->
                <div class="row">
                    <div class="span12 copyright">
                        <p>Copyright &copy; 2015 - YBeatz </p>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </footer>


       

    </body>

</html>

